{% extends "base_admin.html.twig" %}

{% block div %}


<h1 class=" position-absolute top-50 start-50 translate-middletext-center align-middle">Espace administrateur</h1>
{# <img id="game-collection" class="img-fluid"
  src="{{ asset('images/je-me-suis-appris-à-créer-des-jeux-voici-des-captures-v0-oaeoa06xvroe1.webp') }}" alt=""> #}

{% endblock %}

{# linear-gradient(45deg, rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)),
url(/assets/images/je-me-suis-appris-à-créer-des-jeux-voici-des-captures-v0-oaeoa06xvroe1-Xvb1b-9.webp) #}