{% extends "base_admin.html.twig" %}

{% block title %}

Category Creation

{% endblock %}



{% block div %}

<h1>Création de catégorie</h1>

<a class="btn btn-outline-info mb-3" href="{{ path('admin_category_liste') }}">Retour à la liste</a>

{{ form_start(form)}}

{{ form_end(form)}}



{% endblock %}