{% extends "base_admin.html.twig" %}

{% block title %}
Categorie edit
{% endblock %}

{% block div %}

<h1>Modifier la catégorie {{ category.label }}</h1>

{{ form_start(form) }}


{{ form_end(form) }}

<a class="btn btn-outline-info" href="{{ path('admin_category_liste') }}">Retour à la liste</a>


{% endblock %}