body {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    background-image: url(../images/kinder_game_bg_img.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

nav {

    background-color: indigo;
    color: white;

}


footer {
    color: white;
    background-color: indigo;
}

.img-card {
    height: 200px;
    object-fit: cover;
}

.game-img {
    min-width: auto;
    max-width: 100%;
}

#game-collection {
    min-width: 100%;
    height: 100vh;

}

#home-screen {
    background-image: url('/assets/images/kinder_game_bg_img.webp');
}